body {
  background-color: bisque;
  display: flex;
  align-items: center;
  justify-content: center;
  margin-top: 250px;
}
#field {
  position: relative;
  background-color: aquamarine;
  left: 0px;
  top: 0px;
  width: 400px;
  height: 400px;
  border: 1px solid black;
}
#snake {
  position: relative;
  background-color: black;
  width: 10px;
  height: 10px;
  text-align: center;
  padding: 1px;
  margin: 2px;
}
.start {
  padding: 2px;
  margin-left: 5px;
  width: 100px;
  height: 30px;
}
